extends base

block posts 

    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu

    .app-card
        span
            img(src='https://4kwallpapers.com/images/walls/thumbs_2t/4328.jpg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='http://userscontent2.emaze.com/images/9dbd7a86-fe56-43b1-8d4d-6dafc9901798/635326994634696094_green_nature_dual_monitor-other.jpg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://i.ytimg.com/vi/2L4RPyLrewY/maxresdefault.jpg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://media.edutopia.org/styles/responsive_2880px_16x9/s3/masters/d7_images/cover_media/hoisington-169hero-stem-500px.jpg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://studyinternational.com/wp-content/uploads/2018/04/Innovative.jpg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://www.wallpaperup.com/uploads/wallpapers/2017/07/04/1093683/7971915503d97ee82cb6db1e2ca7fec6-1400.jpg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
    .app-card
        span
            img(src='https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60d33182c3989fc24c4e461d_23-online-business-ideas-thriving-in-the-creator-economy_bloghero-p-1600.jpeg')
            
        .app-card__subtext 22 of the Best online business ideas for creators
        .app-card-buttons
            if user.verified
                a(href='https://webflow.com/blog/online-business-ideas' target='_blank'): button.content-button.status-button Read more
            else 
                a(href='#'): button.content-button.status-button.premium(data-user-id=`${user.id}`) Premium only
            .menu
